.git/                                                                                                                                               
tmp/                                                                                                                                                
.env                                                                                                                                                
.gitignore                                                                                                                                          
.dockerignore                                                                                                                                       
*.md                                                                                                                                                
LICENSE
.idea/                                                                                                                             
.vscode/ 